body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#box1 {
    background-color: lightslategray;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    color: white;
}

#box2 {
    background-color: lightgreen;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
    color: white;
    width: 600px;
}

#box3-holder {
    margin: 10px;
}

#box3 {
    background-color: lightgreen;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
    color: white;
    max-width: 600px;
}

#box4 {
    width: 500px;
    background-color: lightcoral;
    border: 5px solid black;
    color: white;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#box5 {
    width: 500px;
    background-color: lightcoral;
    border: 5px solid black;
    color: white;
    margin: 20px auto;
}